/* ---MAIN START--- */
*,
*::after,
*::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #232222;
	font-weight: 400;
	font-style: 16px;
	line-height: 19px;
	/* font-family: 'Roboto Slab', serif; */
}
.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}
/* ---MAIN END--- */

/* ---HEADER START--- */
/* ---HEADER__TOP START */
.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.logo {
	margin-left: 16px;
}
.menu__list {
	display: flex;
	margin-top: 15px;
}
.menu__item + .menu__item {
	margin-left: 30px;
}
.menu__link {
	text-transform: uppercase;
	color: #001e64;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.menu__link:hover {
	border-bottom: 1px solid #001e64;
}
.phone {
	margin-top: 11px;
	margin-right: 43px;
}
/* ---HEADER__TOP END */

/* ---HEADER__CONTENT START */

.header__content {
	background: url(../images/header-bg.png) no-repeat center/cover;
	padding-bottom: 30px;
	margin-top: -110px;
	min-height: 100vh;
}
.title {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 72px;
	line-height: 95px;
	max-width: 589px;
	color: #001e64;
	padding: 175px 0 0 112px;
	margin-bottom: 60px;
}
.header-slider {
	max-width: 522px;
	padding: 57px 0 135px 112px;
}
.header-slider__text {
	margin-bottom: 25px;
	font-style: 18px;
	line-height: 22px;
	color: #fff;
}
.slick-prev,
.slick-next {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	position: absolute;
	left: 40px;
}
.slick-prev {
	top: 0;
}
.slick-next {
	bottom: 0;
}
.slick-dots {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	left: 35px;
	top: 58px;
	bottom: 55px;
}
.slick-dots button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 28px;
	opacity: 0.5;
	transition: opacity 0.3s;
}
.slick-dots button::before {
	content: '0';
}
.slick-dots li:nth-child(n + 10) button::before {
	content: '';
}
.slick-active button {
	opacity: 1;
	transition: opacity 0.3s;
}
.header__content-btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 23px;
	line-height: 32px;
	color: #fff;
	padding: 14px 88px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 112px;
	display: inline-block;
	transform: translateY(-100px);
}
.header__content-box {
	display: flex;
	margin-left: 100%;
	margin-right: 90px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	transform: translateY(-50px);
}
.header__content-link--active {
	font-weight: 700;
}
/* ---HEADER__CONTENT END */
/* ---HEADER END--- */

/* ---PRODUCT START---  */

.product {
	padding-top: 100px;
}
.product__inner {
	display: flex;
	justify-content: space-between;
}
.product__name {
	width: 510px;
	text-align: center;
	padding-top: 41px;
}
.product__name-item + .product__name-item {
	margin-top: 30px;
}
.product__name-item {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}
.product__name-item.slick-current {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 47px;
	color: #001e64;
}
.product-prev {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.product-prev,
.product-next {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
.product__content {
	width: 600px;
}
.product__content-elememt {
}
.product__content-box {
	display: flex;
	justify-content: space-between;
}
.product__content-img {
	object-fit: cover;
}
.product__content-list {
	width: 291px;
	list-style: none;
}
.product__content-item {
	margin-bottom: 30px;
}
.product__content-item span {
	display: block;
	margin-bottom: 10px;
	font-family: 'Roboto Slab';
	color: #001e64;
}
.product__content-title {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #001e64;
	margin-bottom: 20px;
	padding-top: 20px;
}
.product__content-text {
	margin-bottom: 25px;
}
.product__content-btn {
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #001e64;
	padding: 12px 85px;
	background-color: transparent;
	text-transform: uppercase;
	border: 1px solid #001e64;
	border-radius: 20px;
	cursor: pointer;
}

/* ---PRODUCT END--- */

/* ---SEAFOOD-BOX START--- */

.seafood-box {
	background: url(../images/seafood-bg.png) no-repeat top center/cover;
	padding: 290px 0 95px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}
.seafood-box__items {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.seafood-box__item {
	width: 180px;
	min-height: 165px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: url(../images/seadood-decor.svg) no-repeat center center/cover;
}

/* ---SEAFOOD-BOX END--- */

/* ---SEAFOOD START--- */

.seafood {
	padding: 100px 0;
}
.seafood__items {
	margin-bottom: 100px;
}
.seafood__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.seafood__item-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	max-width: 490px;
	margin-bottom: 30px;
	color: #001e64;
}
.seafood__item-text {
	max-width: 420px;
	margin-bottom: 20px;
}
.seafood__item--text-right .seafood__item-title {
	max-width: 420px;
}
.seafood__item--text-right .seafood__item-text {
	margin-right: 180px;
}
.seafood__blockquote {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.seafood__blockquote-text {
	max-width: 530px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #232222;
	margin: 0 auto;
}

/* ---SEAFOOD END--- */
