/* ---MAIN START--- */
*,
*::after,
*::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #232222;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}
.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}
/* ---MAIN END--- */

/* ---HEADER START--- */
/* ---HEADER__TOP START */
.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.logo {
	margin-left: 16px;
}
.menu__btn {
	width: 40px;
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	padding: 13px 0;
	position: relative;
	display: none;
	z-index: 10;
}
.menu__btn span {
	display: block;
	height: 4px;
	background-color: #001e64;
}
.menu__btn::after,
.menu__btn::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	height: 4px;
	background-color: #001e64;
}
.menu__btn::after {
	bottom: 0;
}
.menu__btn::before {
	top: 0;
}
.menu__list {
	display: flex;
	margin-top: 15px;
}
.menu__item + .menu__item {
	margin-left: 30px;
}
.menu__link {
	text-transform: uppercase;
	color: #001e64;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}
.menu__link:hover {
	border-bottom: 1px solid #001e64;
}
.phone {
	margin-top: 11px;
	margin-right: 43px;
}
/* ---HEADER__TOP END */

/* ---HEADER__CONTENT START */

.header__content {
	background: url(../images/header-bg.png) no-repeat center/cover;
	padding-bottom: 30px;
	margin-top: -110px;
	min-height: 100vh;
}
.title {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 72px;
	line-height: 95px;
	max-width: 589px;
	color: #001e64;
	padding: 175px 0 0 112px;
	margin-bottom: 60px;
}
.header-slider {
	max-width: 522px;
	padding: 57px 0 135px 112px;
}
.header-slider__text {
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}
.slick-prev,
.slick-next {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	position: absolute;
	left: 40px;
}
.slick-prev {
	top: 0;
}
.slick-next {
	bottom: 0;
}
.slick-dots {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	left: 35px;
	top: 58px;
	bottom: 55px;
}
.slick-dots button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	line-height: 28px;
	opacity: 0.5;
	transition: opacity 0.3s;
}
.slick-dots button::before {
	content: '0';
}
.slick-dots li:nth-child(n + 10) button::before {
	content: '';
}
.slick-active button {
	opacity: 1;
	transition: opacity 0.3s;
}
.header__content-btn {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 23px;
	line-height: 32px;
	color: #fff;
	padding: 14px 88px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 112px;
	display: inline-block;
	transform: translateY(-100px);
	transition: all 0.3s;
}
.header__content-btn:hover {
	color: #001e64;
	background-color: rgba(255, 255, 255, 1);
}
.header__content-box {
	display: flex;
	justify-content: flex-end;
	margin-right: 90px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	transform: translateY(-50px);
}
.header__content-link--active {
	font-weight: 700;
}
/* ---HEADER__CONTENT END */
/* ---HEADER END--- */

/* ---PRODUCT START---  */

.product {
	padding-top: 100px;
}
.product__inner {
	display: flex;
	justify-content: space-between;
}
.product__name {
	width: 510px;
	text-align: center;
	padding-top: 41px;
}
.product__name-item + .product__name-item {
	margin-top: 30px;
}
.product__name-item {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}
.product__name-item.slick-current {
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #001e64;
}
.product-prev {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.product-prev,
.product-next {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}
.product__content {
	width: 600px;
}
.product__content-box {
	display: flex;
	justify-content: space-between;
}
.product__content-img {
	object-fit: cover;
}
.product__content-list {
	width: 291px;
	list-style: none;
}
.product__content-item {
	margin-bottom: 30px;
}
.product__content-item span {
	display: block;
	margin-bottom: 10px;
	font-family: 'Roboto Slab';
	color: #001e64;
}
.product__content-title {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #001e64;
	margin-bottom: 20px;
	padding-top: 20px;
}
.product__content-text {
	margin-bottom: 25px;
}
.product__content-btn {
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #001e64;
	padding: 12px 85px;
	background-color: transparent;
	text-transform: uppercase;
	border: 1px solid #001e64;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s !important;
}
.product__content-btn:hover {
	background: #001e64;
	color: #ffffff;
}

/* ---PRODUCT END--- */

/* ---SEAFOOD-BOX START--- */

.seafood-box {
	background: url(../images/seafood-bg.png) no-repeat top center/cover;
	padding: 290px 0 95px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}
.seafood-box__items {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.seafood-box__item {
	width: 180px;
	min-height: 165px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: url(../images/seadood-decor.svg) no-repeat center center/cover;
}

/* ---SEAFOOD-BOX END--- */

/* ---SEAFOOD START--- */

.seafood {
	padding: 100px 0;
}
.seafood__items {
	margin-bottom: 100px;
}
.seafood__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.seafood__item-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	max-width: 490px;
	margin-bottom: 30px;
	color: #001e64;
}
.seafood__item-text {
	max-width: 420px;
	margin-bottom: 20px;
}
.seafood__item--text-right .seafood__item-title {
	max-width: 420px;
}
.seafood__item--text-right .seafood__item-text {
	margin-right: 180px;
}
.seafood__blockquote {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.seafood__blockquote-text {
	max-width: 530px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #232222;
	margin: 0 auto;
}

/* ---SEAFOOD END--- */

/* ---CONATCTS START--- */
.contacts {
	background: url(../images/contacts-bg.jpg) no-repeat bottom left;
}
.contacts__box {
	margin-left: auto;
	width: 390px;
	background-color: #fff;
	padding: 33px 0 33px 20px;
}
.contacts__box-text {
	width: 195px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	line-height: 24px;
	color: #001e64;
	margin-bottom: 30px;
}
.contacts__box-list {
	list-style: none;
	font-size: 18px;
	line-height: 21px;
}
.contacts__box-item {
	margin-top: 30px;
}

.contacts__box-item span {
	display: block;
}

/* ---CONTACTS END--- */

/* ---FOTTER START--- */
.footer {
	padding: 25px 0 110px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 45px 0 23px;
}
.footer-social__list {
	list-style: none;
	display: flex;
	align-items: center;
	padding-bottom: 19px;
}
.footer-social__item + .footer-social__item {
	margin-left: 10px;
}
.footer-social__link path {
	transition: fill 0.3s;
}
.footer-social__link:hover path {
	fill: #001e64;
}
.footer .menu {
	margin-bottom: 35px;
}
/* ---FOTTER END--- */

@media (max-width: 1160px) {
	.product__name {
		width: 350px;
	}
	.footer .logo,
	.footer .menu {
		display: none;
	}
	.footer {
		padding: 40px 0;
	}
	.footer__inner {
		justify-content: center;
	}
	.footer-social__list {
		padding-bottom: 0;
	}
}
@media (max-width: 1100px) {
	.seafood__item-content {
		padding-right: 20px;
	}
	.seafood__item--text-right .seafood__item-content {
		padding-right: 0;
		padding-left: 20px;
	}
}
@media (max-width: 1000px) {
	.menu__list {
		position: absolute;
		left: 20%;
		right: 20%;
		top: -380px;
		background-color: #fff;
		flex-direction: column;
		transition: all 0.5s;
		z-index: 5;
	}
	.menu__list--active {
		top: 55px;
	}
	.menu__item + .menu__item {
		margin-left: 0;
	}
	.menu__link:hover {
		border: none;
	}
	.menu__link {
		padding: 20px 0;
		display: block;
		text-align: center;
	}
	.menu__btn {
		display: block;
	}
	.menu {
		margin: 12px 20px 0 auto;
	}
}
@media (max-width: 950px) {
	.seafood__item {
		flex-wrap: wrap;
		justify-content: center;
	}
	.seafood img {
		width: 100%;
	}
	.seafood__item--text-right {
		flex-wrap: wrap-reverse;
	}
	.seafood__item-content {
		padding-right: 0px;
	}
	.seafood__item--text-right .seafood__item-content {
		padding-left: 0px;
	}
	.seafood__item--text-right .seafood__item-text {
		margin-right: 0px;
	}
	.seafood__item-text,
	.seafood__item-title {
		max-width: 100%;
	}
}
@media (max-width: 890px) {
	.seafood-box {
		display: none;
	}
	.product__inner {
		display: block;
	}
	.product__content {
		margin: 0 auto;
	}
	.product__name {
		width: 100%;
		margin-bottom: 80px;
		padding-top: 0;
	}
	.product__name-item + .product__name-item {
		margin-top: 0;
	}
	.product__name-item.slick-current {
		line-height: 44px;
	}
	.product__name .slick-dots {
		left: 0;
		right: 0;
		flex-direction: row;
		justify-content: center;
	}
	.product__name .slick-dots button {
		width: 10px;
		height: 10px;
		font-size: 0;
		padding: 0;
		border-radius: 50%;
		background-color: #c4c4c4;
		margin: 0 10px;
	}
	.product__name .slick-active button {
		background-color: #001e64;
	}
}
@media (max-width: 745px) {
	.title {
		padding-left: 0;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		max-width: 100%;
	}
}
@media (max-width: 650px) {
	.product__content {
		width: 100%;
	}
	.seafood {
		padding: 50px 0;
	}
	.contacts {
		background: none;
	}
	.contacts__box {
		padding: 33px 0;
		width: 100%;
	}
}
@media (max-width: 600px) {
	.product__content-box {
		display: block;
	}
	.product__content-list {
		width: 100%;
	}
}
@media (max-width: 470px) {
	.header-slider {
		padding-left: 50px;
	}
	.slick-dots {
		left: 5px;
	}
	.slick-next,
	.slick-prev {
		left: 9px;
	}
	.header__content-btn {
		margin-left: 50px;
	}
	.header__content-box {
		margin-right: 0px;
	}
	.title {
		font-size: 34px;
		line-height: 44px;
	}
	.product {
		padding-top: 50px;
	}
	.product__content-btn {
		padding: 12px 55px;
	}
}

@media (max-width: 370px) {
	.phone {
		margin-right: 0;
	}
	.logo {
		margin-left: 0;
	}
	.title {
		padding-top: 125px;
	}
	.menu__list {
		left: 10%;
		right: 10%;
	}
	.header-slider {
		padding-left: 0;
		padding-top: 0;
	}
	.header__content-btn {
		margin-left: 0;
	}
}
